<style>
    .collapse__content { }

</style>
</head>
<body>
<nav class="nav collapse collapsible--expanded">
<a href="" class="nav__band">
    <img src="./images/logo.svg" alt="">
</a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="./images/sprite.svg#wordpress"></use>
    </svg>
  <ul class="nav nav__list collapsible__content">
    <li class="nav--item"><a href="#"></a>item 1</li>
    <li class="nav--item"><a href="#"></a>item 2</li>
    <li class="nav--item"><a href="#"></a>item 3</li>
    <li class="nav--item"><a href="#"></a>item 4</li>
  </ul>

</nav>